{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<section class="part2_home">
<div class="ui menu">
  
  <a href="default" class="item">
   Home
  </a>
  <a href="index2" class="item">
    Article binder
  </a>
  <a href="api" class="item active">
    Space API
  </a>
  <a> {% if app.user %}
        <div class="mb-3">
            <span style="color:white">{{ app.user.username }}</span> <a href="{{ path('app_logout') }}"><span style="color:red;">Logout</span></a>
        </div>
    {% endif %}
    </a>
</div>

  <h1 class="hero_title">Here you can have a randomn article by clicking the button bellow</h1>
  <p class="hero_p">Go check it out</p>
</section>



 <div class="parent_button"><button id="button_1" class="ui inverted primary button">Click me</button></div>
    <h2 class="title" id="article_full">{{ article.title }}</h2>
    <div class="parent_img"><img class="image_url" src="{{ article.imageUrl }}!"  id="article_full"></img></div>
    <p class="summary" id="article_full">{{ article.summary }}</p>
    <p class="news_site" id="article_full"><span style="font-weight:600">Source : </span>{{ article.url }}</p><br>
    <p class="published_date" id="article_full"><span style="font-weight:600">Published date : </span>{{ article.publishedAt }}</p><br>
    <p class="updated_date" id="article_full"><span style="font-weight:600">Updated date : </span>{{ article.updatedAt }}</p><br>
    
   {{dump(article)}}



{% endblock %}