{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section class="part2_home">
<div class="ui menu">
  
  <a href="default" class="item">
   Home
  </a>
  <a href="index2" class="item">
    Index 2
  </a>
  <a href="index3" class="item">
    Index 3
  </a>
  <a href="index4" class="item">
    Index 4
  </a>
  <a href="api" class="item active">
    Space API
  </a>
</div>

  <h1 class="hero_title">Here you can have a randomn article by clicking the button bellow</h1>
  <p class="hero_p">Go check it out</p>
</section>



 <button id="button_1" class="ui inverted primary button">Click me</button>
    <h2 class="title" id="article_full">{{ article.title }}!</h2>
    <img src="{{ article.imageUrl }}!" class="image_url" id="article_full"></img>
    <p class="summary" id="article_full">{{ article.summary }}!</p>
    <p class="news_site" id="article_full">{{ article.newsSite }}!</p>
    <p class="published_date" id="article_full">{{ article.publishedAt }}!</p>
    <p id="updated_date">{{ article.updatedAt }}!</p>
    
   {{dump(article)}}



{% endblock %}