{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<div class="ui menu">
  
  <a href="default" class="item">
    Home
  </a>
  <a href="favorite" class="item active">
    Favorite
  </a>
   <a href="api" class="item">
    Space API
  </a>
  <a> {% if app.user %}
        <div class="mb-3">
            <span style="color:white">{{ app.user.username }}</span> <a href="{{ path('app_logout') }}"><span style="color:red;">Logout</span></a>
        </div>
    {% endif %}
    </a>
</div>



{% for favorite in favorites %}

<div class="ui card" id="parent_fav">
  <div class="image">
    <img src="{{ favorite.imageUrl }}">
  </div>
  <div class="content">
    <a class="header">{{ favorite.title }}</a>
    
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
       {{ favorite.user.username }}
    </a>
  </div>
</div>



{% endfor %}


{% endblock %}